htcondor >= 8.8
git+https://github.com/lsst/ctrl_bps.git@v26.0.x#egg=lsst-ctrl-bps
git+https://github.com/lsst/daf_butler@v26.0.x#egg=lsst-daf-butler
git+https://github.com/lsst/utils@v26.0.x#egg=lsst-utils
