htcondor >= 8.8, == 24.0.*
lsst-ctrl-bps @ git+https://github.com/lsst/ctrl_bps.git@tickets/DM-53494
lsst-daf-butler @ git+https://github.com/lsst/daf_butler@main
lsst-pipe-base @ git+https://github.com/lsst/pipe_base@main
lsst-utils @ git+https://github.com/lsst/utils@main
packaging
pydantic >= 2, < 3.0
